@import "./sass/fonts.scss";
@import "./sass/colors.scss";

// MAIN CSS
#root {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}
.App.dark {
    background-color: #111;
    color: rgb(156, 156, 156);

    .home {
        .bg-color {
            background-color: rgba(51, 51, 51, 0.425);
        }
    }
}
img{
    display: block;
    max-width: 100%;
}
.theme-btn {
    a{
        background: $color-green;
        color: $color-white;
        padding: 5px 10px;
        text-decoration: none;
        border: 1px solid transparent;
        font-size: 14px;
        font-weight: 500;
        display: inline-block;
        transition: .3s;
    }
    &:hover{
        background: $color-yellow;
        color: $color-green;
        border: 1px solid $color-black;
    }
}
