@import "../../sass/fonts.scss";
@import "../../sass/colors.scss";

.main-nav {
    .menu-logo {
        display: flex;
        flex-direction: row-reverse;

        .menu-icon {
            align-self: center;
        }

        a {
            .logo-img {
                width: 13.11%;
            }
        }
    }

    .menu-items {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        .item {
            flex: 1;
            text-align: center;
            padding: 10px;

            img {
                width: 100%;
                max-width: 100%;
                height: auto;
            }
        }
        .item.language {
            display: flex;
            align-items: center;

            .language-icon {
                margin-right: 5px;
            }
        }
    }

    .search, .nav-menu {
        display: none;
    }

    &.active {
        .search, .nav-menu {
            display: block;
        }
    }
}